.6_13 { 
	overflow:hidden;
}.e6_13 { 
	background-color:rgba(255, 255, 255, 1);
	width:360px;
	height:1528px;
	position:absolute;
}.e20_23 { 
	width:161px;
	height:332px;
	position:absolute;
	left:185px;
	top:547px;
	background-image:url(images/img4.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e17_13 { 
	color:rgba(44.5069395750761, 44.67746302485466, 46.04166202247143, 1);
	width:332px;
	height:35px;
	position:absolute;
	left:14px;
	top:305px;
	font-family:Odibee Sans;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
}.e20_29 { 
	width:360px;
	height:281px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/header.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e19_3 { 
	width:332px;
	height:186.75px;
	position:absolute;
	left:14px;
	top:350px;
	background-image:url(images/img1.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e20_25 { 
	width:332px;
	height:186px;
	position:absolute;
	left:14px;
	top:889px;
	background-image:url(images/img5.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e19_5 { 
	width:161px;
	height:161px;
	position:absolute;
	left:14px;
	top:547px;
	background-image:url(images/img2.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e20_21 { 
	width:161px;
	height:161px;
	position:absolute;
	left:14px;
	top:718px;
	background-image:url(images/img3.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e18_40 { 
	width:360px;
	height:161px;
	position:absolute;
	left:0px;
	top:1367px;
}.e17_28 { 
	width:360px;
	height:55px;
	position:absolute;
	left:0px;
	top:106px;
}.e17_25 { 
	background-color:rgba(0, 0, 0, 1);
	width:360px;
	height:55px;
	position:absolute;
	left:0px;
	top:0px;
}.e17_26 { 
	color:rgba(255, 255, 255, 1);
	width:281px;
	height:21px;
	position:absolute;
	left:40px;
	top:17px;
	font-family:Inter;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
	line-height:px;
}.e17_29 { 
	color:rgba(44.5069395750761, 44.67746302485466, 46.04166202247143, 1);
	opacity:0.5;
	width:332px;
	height:70px;
	position:absolute;
	left:14px;
	top:0px;
	font-family:Odibee Sans;
	text-align:center;
	font-size:32px;
	letter-spacing:0;
}.e17_36 { 
	width:96px;
	height:36px;
	position:absolute;
	left:132px;
	top:1299px;
}.e17_27 { 
	background-color:rgba(22.666661515831947, 22.666661515831947, 22.666661515831947, 1);
	width:96px;
	height:36px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:40px;
	border-top-right-radius:40px;
	border-bottom-left-radius:40px;
	border-bottom-right-radius:40px;
}.e17_30 { 
	color:rgba(255, 255, 255, 1);
	width:39px;
	height:18px;
	position:absolute;
	left:12px;
	top:9px;
	font-family:Odibee Sans;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}.e17_35 { 
	width:28px;
	height:28px;
	position:absolute;
	left:61px;
	top:4px;
	background-image:url(images/image_4.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e18_39 { 
	color:rgba(0, 0, 0, 1);
	width:332px;
	height:175px;
	position:absolute;
	left:14px;
	top:1100px;
	font-family:Nunito;
	text-align:justified;
	font-size:18px;
	letter-spacing:0;
}